@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #0f172a;
    font-family: 'Montserrat', sans-serif;
}
::selection {
    background: #4afad1;
    color: #0f172a;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #0f172a;
}
::-webkit-scrollbar-thumb {
    background: rgb(20 184 166);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #4afad1;
}
