@import "../../styles/variables.scss";

.custom__cursor {
    width: 500px;
    height: 500px;
    background-color: $primary-color;
    opacity: 0.2;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -1;
    filter: blur(100px);
}