@import "../../style/variables.scss";

.block {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 5px;
    opacity: 0.7;
    cursor: pointer;
    max-width: 135px;
    .link {
        background: none;
        border: none;
        padding: 0;
        color: $secondary-color;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .border {
        border: 1px solid $secondary-color;
        width: 30px;
        transition: all .2s;
    }
    &:hover, &.active {
        opacity: 1;
        .link {
            color: $text-color;
        }
        .border {
            width: 70px;
            border-color: $text-color;
        }
    }
}
